# Description

The Titanic dataset is a well-known dataset that provides information about the passengers who were on board the Titanic ship when it sank on April 15, 1912.The data includes demographic information such as the passengers' names, ages, genders, ticket class, fare, and cabin numbers, as well as information about their families and whether they survived or not.

# Problem Statement

The challenge is to use this information to build a predictive model that can accurately classify whether a passenger would have survived or not based on their characteristics without using libraries.

# Reading the dataset

In [31]:
# Open the CSV file containing the Titanic dataset
with open('titanic.csv', 'r') as f:
    # Print the header row
    print(next(f))
    # Read the rest of the rows of data
    for row in f:
        # Split the row into columns
        columns = row.strip().split(',')
        # Print the columns
        print(columns)

PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived

['1', '"Braund', ' Mr. Owen Harris"', '3', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S', '0']
['2', '"Cumings', ' Mrs. John Bradley (Florence Briggs Thayer)"', '1', 'female', '38', '1', '0', 'PC 17599', '71.2833', 'C85', 'C', '1']
['3', '"Heikkinen', ' Miss. Laina"', '3', 'female', '26', '0', '0', 'STON/O2. 3101282', '7.925', '', 'S', '1']
['4', '"Futrelle', ' Mrs. Jacques Heath (Lily May Peel)"', '1', 'female', '35', '1', '0', '113803', '53.1', 'C123', 'S', '1']
['5', '"Allen', ' Mr. William Henry"', '3', 'male', '35', '0', '0', '373450', '8.05', '', 'S', '0']
['6', '"Moran', ' Mr. James"', '3', 'male', '', '0', '0', '330877', '8.4583', '', 'Q', '0']
['7', '"McCarthy', ' Mr. Timothy J"', '1', 'male', '54', '0', '0', '17463', '51.8625', 'E46', 'S', '0']
['8', '"Palsson', ' Master. Gosta Leonard"', '3', 'male', '2', '3', '1', '349909', '21.075', '', 'S', '0']
['9', '"Johnson', ' Mrs. Oscar W (Elisabeth Vilhelmina Berg)"', '3', 'female', '27', '0', '2', '347742', '11.1333', '', 'S', '1']
['10', '"Nasser', ' Mrs. Nicholas (Adele Achem)"', '2', 'female', '14', '1', '0', '237736', '30.0708', '', 'C', '1']
['11', '"Sandstrom', ' Miss. Marguerite Rut"', '3', 'female', '4', '1', '1', 'PP 9549', '16.7', 'G6', 'S', '1']
['12', '"Bonnell', ' Miss. Elizabeth"', '1', 'female', '58', '0', '0', '113783', '26.55', 'C103', 'S', '1']
['13', '"Saundercock', ' Mr. William Henry"', '3', 'male', '20', '0', '0', 'A/5. 2151', '8.05', '', 'S', '0']
['14', '"Andersson', ' Mr. Anders Johan"', '3', 'male', '39', '1', '5', '347082', '31.275', '', 'S', '0']
['15', '"Vestrom', ' Miss. Hulda Amanda Adolfina"', '3', 'female', '14', '0', '0', '350406', '7.8542', '', 'S', '0']
['16', '"Hewlett', ' Mrs. (Mary D Kingcome) "', '2', 'female', '55', '0', '0', '248706', '16', '', 'S', '1']
['17', '"Rice', ' Master. Eugene"', '3', 'male', '2', '4', '1', '382652', '29.125', '', 'Q', '0']
['18', '"Williams', ' Mr. Charles Eugene"', '2', 'male', '', '0', '0', '244373', '13', '', 'S', '1']
['19', '"Vander Planke', ' Mrs. Julius (Emelia Maria Vandemoortele)"', '3', 'female', '31', '1', '0', '345763', '18', '', 'S', '0']
['20', '"Masselmani', ' Mrs. Fatima"', '3', 'female', '', '0', '0', '2649', '7.225', '', 'C', '1']
['21', '"Fynney', ' Mr. Joseph J"', '2', 'male', '35', '0', '0', '239865', '26', '', 'S', '0']
['22', '"Beesley', ' Mr. Lawrence"', '2', 'male', '34', '0', '0', '248698', '13', 'D56', 'S', '1']
['23', '"McGowan', ' Miss. Anna ""Annie"""', '3', 'female', '15', '0', '0', '330923', '8.0292', '', 'Q', '1']
['24', '"Sloper', ' Mr. William Thompson"', '1', 'male', '28', '0', '0', '113788', '35.5', 'A6', 'S', '1']
['25', '"Palsson', ' Miss. Torborg Danira"', '3', 'female', '8', '3', '1', '349909', '21.075', '', 'S', '0']
['26', '"Asplund', ' Mrs. Carl Oscar (Selma Augusta Emilia Johansson)"', '3', 'female', '38', '1', '5', '347077', '31.3875', '', 'S', '1']
['27', '"Emir', ' Mr. Farred Chehab"', '3', 'male', '', '0', '0', '2631', '7.225', '', 'C', '0']
['28', '"Fortune', ' Mr. Charles Alexander"', '1', 'male', '19', '3', '2', '19950', '263', 'C23 C25 C27', 'S', '0']
['29', '"O\'Dwyer', ' Miss. Ellen ""Nellie"""', '3', 'female', '', '0', '0', '330959', '7.8792', '', 'Q', '1']
['30', '"Todoroff', ' Mr. Lalio"', '3', 'male', '', '0', '0', '349216', '7.8958', '', 'S', '0']
['31', '"Uruchurtu', ' Don. Manuel E"', '1', 'male', '40', '0', '0', 'PC 17601', '27.7208', '', 'C', '0']
['32', '"Spencer', ' Mrs. William Augustus (Marie Eugenie)"', '1', 'female', '', '1', '0', 'PC 17569', '146.5208', 'B78', 'C', '1']
['33', '"Glynn', ' Miss. Mary Agatha"', '3', 'female', '', '0', '0', '335677', '7.75', '', 'Q', '1']
['34', '"Wheadon', ' Mr. Edward H"', '2', 'male', '66', '0', '0', 'C.A. 24579', '10.5', '', 'S', '0']
['35', '"Meyer', ' Mr. Edgar Joseph"', '1', 'male', '28', '1', '0', 'PC 17604', '82.1708', '', 'C', '0']
['36', '"Holverson', ' Mr. Alexander Oskar"', '1', 'male', '42', '1', '0', '113789', '52', '', 'S', '0']
['37', '"Mamee', ' Mr. Hanna"', '3', 'male', '', '0', '0', '2677', '7.2292', '', 'C', '1']
['38', '"Cann', ' Mr. Ernest Charles"', '3', 'male', '21', '0', '0', 'A./5. 2152', '8.05', '', 'S', '0']
['39', '"Vander Planke', ' Miss. Augusta Maria"', '3', 'female', '18', '2', '0', '345764', '18', '', 'S', '0']
['40', '"Nicola-Yarred', ' Miss. Jamila"', '3', 'female', '14', '1', '0', '2651', '11.2417', '', 'C', '1']
['41', '"Ahlin', ' Mrs. Johan (Johanna Persdotter Larsson)"', '3', 'female', '40', '1', '0', '7546', '9.475', '', 'S', '0']
['42', '"Turpin', ' Mrs. William John Robert (Dorothy Ann Wonnacott)"', '2', 'female', '27', '1', '0', '11668', '21', '', 'S', '0']
['43', '"Kraeff', ' Mr. Theodor"', '3', 'male', '', '0', '0', '349253', '7.8958', '', 'C', '0']
['44', '"Laroche', ' Miss. Simonne Marie Anne Andree"', '2', 'female', '3', '1', '2', 'SC/Paris 2123', '41.5792', '', 'C', '1']
['45', '"Devaney', ' Miss. Margaret Delia"', '3', 'female', '19', '0', '0', '330958', '7.8792', '', 'Q', '1']
['46', '"Rogers', ' Mr. William John"', '3', 'male', '', '0', '0', 'S.C./A.4. 23567', '8.05', '', 'S', '0']
['47', '"Lennon', ' Mr. Denis"', '3', 'male', '', '1', '0', '370371', '15.5', '', 'Q', '0']
['48', '"O\'Driscoll', ' Miss. Bridget"', '3', 'female', '', '0', '0', '14311', '7.75', '', 'Q', '1']
['49', '"Samaan', ' Mr. Youssef"', '3', 'male', '', '2', '0', '2662', '21.6792', '', 'C', '0']
['50', '"Arnold-Franchi', ' Mrs. Josef (Josefine Franchi)"', '3', 'female', '18', '1', '0', '349237', '17.8', '', 'S', '0']
['51', '"Panula', ' Master. Juha Niilo"', '3', 'male', '7', '4', '1', '3101295', '39.6875', '', 'S', '0']
['52', '"Nosworthy', ' Mr. Richard Cater"', '3', 'male', '21', '0', '0', 'A/4. 39886', '7.8', '', 'S', '0']
['53', '"Harper', ' Mrs. Henry Sleeper (Myna Haxtun)"', '1', 'female', '49', '1', '0', 'PC 17572', '76.7292', 'D33', 'C', '1']
['54', '"Faunthorpe', ' Mrs. Lizzie (Elizabeth Anne Wilkinson)"', '2', 'female', '29', '1', '0', '2926', '26', '', 'S', '1']
['55', '"Ostby', ' Mr. Engelhart Cornelius"', '1', 'male', '65', '0', '1', '113509', '61.9792', 'B30', 'C', '0']
['56', '"Woolner', ' Mr. Hugh"', '1', 'male', '', '0', '0', '19947', '35.5', 'C52', 'S', '1']
['57', '"Rugg', ' Miss. Emily"', '2', 'female', '21', '0', '0', 'C.A. 31026', '10.5', '', 'S', '1']
['58', '"Novel', ' Mr. Mansouer"', '3', 'male', '28.5', '0', '0', '2697', '7.2292', '', 'C', '0']
['59', '"West', ' Miss. Constance Mirium"', '2', 'female', '5', '1', '2', 'C.A. 34651', '27.75', '', 'S', '1']
['60', '"Goodwin', ' Master. William Frederick"', '3', 'male', '11', '5', '2', 'CA 2144', '46.9', '', 'S', '0']
['61', '"Sirayanian', ' Mr. Orsen"', '3', 'male', '22', '0', '0', '2669', '7.2292', '', 'C', '0']
['62', '"Icard', ' Miss. Amelie"', '1', 'female', '38', '0', '0', '113572', '80', 'B28', '', '1']
['63', '"Harris', ' Mr. Henry Birkhardt"', '1', 'male', '45', '1', '0', '36973', '83.475', 'C83', 'S', '0']
['64', '"Skoog', ' Master. Harald"', '3', 'male', '4', '3', '2', '347088', '27.9', '', 'S', '0']
['65', '"Stewart', ' Mr. Albert A"', '1', 'male', '', '0', '0', 'PC 17605', '27.7208', '', 'C', '0']
['66', '"Moubarek', ' Master. Gerios"', '3', 'male', '', '1', '1', '2661', '15.2458', '', 'C', '1']
['67', '"Nye', ' Mrs. (Elizabeth Ramell)"', '2', 'female', '29', '0', '0', 'C.A. 29395', '10.5', 'F33', 'S', '1']
['68', '"Crease', ' Mr. Ernest James"', '3', 'male', '19', '0', '0', 'S.P. 3464', '8.1583', '', 'S', '0']
['69', '"Andersson', ' Miss. Erna Alexandra"', '3', 'female', '17', '4', '2', '3101281', '7.925', '', 'S', '1']
['70', '"Kink', ' Mr. Vincenz"', '3', 'male', '26', '2', '0', '315151', '8.6625', '', 'S', '0']
['71', '"Jenkin', ' Mr. Stephen Curnow"', '2', 'male', '32', '0', '0', 'C.A. 33111', '10.5', '', 'S', '0']
['72', '"Goodwin', ' Miss. Lillian Amy"', '3', 'female', '16', '5', '2', 'CA 2144', '46.9', '', 'S', '0']
['73', '"Hood', ' Mr. Ambrose Jr"', '2', 'male', '21', '0', '0', 'S.O.C. 14879', '73.5', '', 'S', '0']
['74', '"Chronopoulos', ' Mr. Apostolos"', '3', 'male', '26', '1', '0', '2680', '14.4542', '', 'C', '0']
['75', '"Bing', ' Mr. Lee"', '3', 'male', '32', '0', '0', '1601', '56.4958', '', 'S', '1']
['76', '"Moen', ' Mr. Sigurd Hansen"', '3', 'male', '25', '0', '0', '348123', '7.65', 'F G73', 'S', '0']
['77', '"Staneff', ' Mr. Ivan"', '3', 'male', '', '0', '0', '349208', '7.8958', '', 'S', '0']
['78', '"Moutal', ' Mr. Rahamin Haim"', '3', 'male', '', '0', '0', '374746', '8.05', '', 'S', '0']
['79', '"Caldwell', ' Master. Alden Gates"', '2', 'male', '0.83', '0', '2', '248738', '29', '', 'S', '1']
['80', '"Dowdell', ' Miss. Elizabeth"', '3', 'female', '30', '0', '0', '364516', '12.475', '', 'S', '1']
['81', '"Waelens', ' Mr. Achille"', '3', 'male', '22', '0', '0', '345767', '9', '', 'S', '0']
['82', '"Sheerlinck', ' Mr. Jan Baptist"', '3', 'male', '29', '0', '0', '345779', '9.5', '', 'S', '1']
['83', '"McDermott', ' Miss. Brigdet Delia"', '3', 'female', '', '0', '0', '330932', '7.7875', '', 'Q', '1']
['84', '"Carrau', ' Mr. Francisco M"', '1', 'male', '28', '0', '0', '113059', '47.1', '', 'S', '0']
['85', '"Ilett', ' Miss. Bertha"', '2', 'female', '17', '0', '0', 'SO/C 14885', '10.5', '', 'S', '1']
['86', '"Backstrom', ' Mrs. Karl Alfred (Maria Mathilda Gustafsson)"', '3', 'female', '33', '3', '0', '3101278', '15.85', '', 'S', '1']
['87', '"Ford', ' Mr. William Neal"', '3', 'male', '16', '1', '3', 'W./C. 6608', '34.375', '', 'S', '0']
['88', '"Slocovski', ' Mr. Selman Francis"', '3', 'male', '', '0', '0', 'SOTON/OQ 392086', '8.05', '', 'S', '0']
['89', '"Fortune', ' Miss. Mabel Helen"', '1', 'female', '23', '3', '2', '19950', '263', 'C23 C25 C27', 'S', '1']
['90', '"Celotti', ' Mr. Francesco"', '3', 'male', '24', '0', '0', '343275', '8.05', '', 'S', '0']
['91', '"Christmann', ' Mr. Emil"', '3', 'male', '29', '0', '0', '343276', '8.05', '', 'S', '0']
['92', '"Andreasson', ' Mr. Paul Edvin"', '3', 'male', '20', '0', '0', '347466', '7.8542', '', 'S', '0']
['93', '"Chaffee', ' Mr. Herbert Fuller"', '1', 'male', '46', '1', '0', 'W.E.P. 5734', '61.175', 'E31', 'S', '0']
['94', '"Dean', ' Mr. Bertram Frank"', '3', 'male', '26', '1', '2', 'C.A. 2315', '20.575', '', 'S', '0']
['95', '"Coxon', ' Mr. Daniel"', '3', 'male', '59', '0', '0', '364500', '7.25', '', 'S', '0']
['96', '"Shorney', ' Mr. Charles Joseph"', '3', 'male', '', '0', '0', '374910', '8.05', '', 'S', '0']
['97', '"Goldschmidt', ' Mr. George B"', '1', 'male', '71', '0', '0', 'PC 17754', '34.6542', 'A5', 'C', '0']
['98', '"Greenfield', ' Mr. William Bertram"', '1', 'male', '23', '0', '1', 'PC 17759', '63.3583', 'D10 D12', 'C', '1']
['99', '"Doling', ' Mrs. John T (Ada Julia Bone)"', '2', 'female', '34', '0', '1', '231919', '23', '', 'S', '1']
['100', '"Kantor', ' Mr. Sinai"', '2', 'male', '34', '1', '0', '244367', '26', '', 'S', '0']
['101', '"Petranec', ' Miss. Matilda"', '3', 'female', '28', '0', '0', '349245', '7.8958', '', 'S', '0']
['102', '"Petroff', ' Mr. Pastcho (""Pentcho"")"', '3', 'male', '', '0', '0', '349215', '7.8958', '', 'S', '0']
['103', '"White', ' Mr. Richard Frasar"', '1', 'male', '21', '0', '1', '35281', '77.2875', 'D26', 'S', '0']
['104', '"Johansson', ' Mr. Gustaf Joel"', '3', 'male', '33', '0', '0', '7540', '8.6542', '', 'S', '0']
['105', '"Gustafsson', ' Mr. Anders Vilhelm"', '3', 'male', '37', '2', '0', '3101276', '7.925', '', 'S', '0']
['106', '"Mionoff', ' Mr. Stoytcho"', '3', 'male', '28', '0', '0', '349207', '7.8958', '', 'S', '0']
['107', '"Salkjelsvik', ' Miss. Anna Kristine"', '3', 'female', '21', '0', '0', '343120', '7.65', '', 'S', '1']
['108', '"Moss', ' Mr. Albert Johan"', '3', 'male', '', '0', '0', '312991', '7.775', '', 'S', '1']
['109', '"Rekic', ' Mr. Tido"', '3', 'male', '38', '0', '0', '349249', '7.8958', '', 'S', '0']
['110', '"Moran', ' Miss. Bertha"', '3', 'female', '', '1', '0', '371110', '24.15', '', 'Q', '1']
['111', '"Porter', ' Mr. Walter Chamberlain"', '1', 'male', '47', '0', '0', '110465', '52', 'C110', 'S', '0']
['112', '"Zabour', ' Miss. Hileni"', '3', 'female', '14.5', '1', '0', '2665', '14.4542', '', 'C', '0']
['113', '"Barton', ' Mr. David John"', '3', 'male', '22', '0', '0', '324669', '8.05', '', 'S', '0']
['114', '"Jussila', ' Miss. Katriina"', '3', 'female', '20', '1', '0', '4136', '9.825', '', 'S', '0']
['115', '"Attalah', ' Miss. Malake"', '3', 'female', '17', '0', '0', '2627', '14.4583', '', 'C', '0']
['116', '"Pekoniemi', ' Mr. Edvard"', '3', 'male', '21', '0', '0', 'STON/O 2. 3101294', '7.925', '', 'S', '0']
['117', '"Connors', ' Mr. Patrick"', '3', 'male', '70.5', '0', '0', '370369', '7.75', '', 'Q', '0']
['118', '"Turpin', ' Mr. William John Robert"', '2', 'male', '29', '1', '0', '11668', '21', '', 'S', '0']
['119', '"Baxter', ' Mr. Quigg Edmond"', '1', 'male', '24', '0', '1', 'PC 17558', '247.5208', 'B58 B60', 'C', '0']
['120', '"Andersson', ' Miss. Ellis Anna Maria"', '3', 'female', '2', '4', '2', '347082', '31.275', '', 'S', '0']
['121', '"Hickman', ' Mr. Stanley George"', '2', 'male', '21', '2', '0', 'S.O.C. 14879', '73.5', '', 'S', '0']
['122', '"Moore', ' Mr. Leonard Charles"', '3', 'male', '', '0', '0', 'A4. 54510', '8.05', '', 'S', '0']
['123', '"Nasser', ' Mr. Nicholas"', '2', 'male', '32.5', '1', '0', '237736', '30.0708', '', 'C', '0']
['124', '"Webber', ' Miss. Susan"', '2', 'female', '32.5', '0', '0', '27267', '13', 'E101', 'S', '1']
['125', '"White', ' Mr. Percival Wayland"', '1', 'male', '54', '0', '1', '35281', '77.2875', 'D26', 'S', '0']
['126', '"Nicola-Yarred', ' Master. Elias"', '3', 'male', '12', '1', '0', '2651', '11.2417', '', 'C', '1']
['127', '"McMahon', ' Mr. Martin"', '3', 'male', '', '0', '0', '370372', '7.75', '', 'Q', '0']
['128', '"Madsen', ' Mr. Fridtjof Arne"', '3', 'male', '24', '0', '0', 'C 17369', '7.1417', '', 'S', '1']
['129', '"Peter', ' Miss. Anna"', '3', 'female', '', '1', '1', '2668', '22.3583', 'F E69', 'C', '1']
['130', '"Ekstrom', ' Mr. Johan"', '3', 'male', '45', '0', '0', '347061', '6.975', '', 'S', '0']
['131', '"Drazenoic', ' Mr. Jozef"', '3', 'male', '33', '0', '0', '349241', '7.8958', '', 'C', '0']
['132', '"Coelho', ' Mr. Domingos Fernandeo"', '3', 'male', '20', '0', '0', 'SOTON/O.Q. 3101307', '7.05', '', 'S', '0']
['133', '"Robins', ' Mrs. Alexander A (Grace Charity Laury)"', '3', 'female', '47', '1', '0', 'A/5. 3337', '14.5', '', 'S', '0']
['134', '"Weisz', ' Mrs. Leopold (Mathilde Francoise Pede)"', '2', 'female', '29', '1', '0', '228414', '26', '', 'S', '1']
['135', '"Sobey', ' Mr. Samuel James Hayden"', '2', 'male', '25', '0', '0', 'C.A. 29178', '13', '', 'S', '0']
['136', '"Richard', ' Mr. Emile"', '2', 'male', '23', '0', '0', 'SC/PARIS 2133', '15.0458', '', 'C', '0']
['137', '"Newsom', ' Miss. Helen Monypeny"', '1', 'female', '19', '0', '2', '11752', '26.2833', 'D47', 'S', '1']
['138', '"Futrelle', ' Mr. Jacques Heath"', '1', 'male', '37', '1', '0', '113803', '53.1', 'C123', 'S', '0']
['139', '"Osen', ' Mr. Olaf Elon"', '3', 'male', '16', '0', '0', '7534', '9.2167', '', 'S', '0']
['140', '"Giglio', ' Mr. Victor"', '1', 'male', '24', '0', '0', 'PC 17593', '79.2', 'B86', 'C', '0']
['141', '"Boulos', ' Mrs. Joseph (Sultana)"', '3', 'female', '', '0', '2', '2678', '15.2458', '', 'C', '0']
['142', '"Nysten', ' Miss. Anna Sofia"', '3', 'female', '22', '0', '0', '347081', '7.75', '', 'S', '1']
['143', '"Hakkarainen', ' Mrs. Pekka Pietari (Elin Matilda Dolck)"', '3', 'female', '24', '1', '0', 'STON/O2. 3101279', '15.85', '', 'S', '1']
['144', '"Burke', ' Mr. Jeremiah"', '3', 'male', '19', '0', '0', '365222', '6.75', '', 'Q', '0']
['145', '"Andrew', ' Mr. Edgardo Samuel"', '2', 'male', '18', '0', '0', '231945', '11.5', '', 'S', '0']
['146', '"Nicholls', ' Mr. Joseph Charles"', '2', 'male', '19', '1', '1', 'C.A. 33112', '36.75', '', 'S', '0']
['147', '"Andersson', ' Mr. August Edvard (""Wennerstrom"")"', '3', 'male', '27', '0', '0', '350043', '7.7958', '', 'S', '1']
['148', '"Ford', ' Miss. Robina Maggie ""Ruby"""', '3', 'female', '9', '2', '2', 'W./C. 6608', '34.375', '', 'S', '0']
['149', '"Navratil', ' Mr. Michel (""Louis M Hoffman"")"', '2', 'male', '36.5', '0', '2', '230080', '26', 'F2', 'S', '0']
['150', '"Byles', ' Rev. Thomas Roussel Davids"', '2', 'male', '42', '0', '0', '244310', '13', '', 'S', '0']
['151', '"Bateman', ' Rev. Robert James"', '2', 'male', '51', '0', '0', 'S.O.P. 1166', '12.525', '', 'S', '0']
['152', '"Pears', ' Mrs. Thomas (Edith Wearne)"', '1', 'female', '22', '1', '0', '113776', '66.6', 'C2', 'S', '1']
['153', '"Meo', ' Mr. Alfonzo"', '3', 'male', '55.5', '0', '0', 'A.5. 11206', '8.05', '', 'S', '0']
['154', '"van Billiard', ' Mr. Austin Blyler"', '3', 'male', '40.5', '0', '2', 'A/5. 851', '14.5', '', 'S', '0']
['155', '"Olsen', ' Mr. Ole Martin"', '3', 'male', '', '0', '0', 'Fa 265302', '7.3125', '', 'S', '0']
['156', '"Williams', ' Mr. Charles Duane"', '1', 'male', '51', '0', '1', 'PC 17597', '61.3792', '', 'C', '0']
['157', '"Gilnagh', ' Miss. Katherine ""Katie"""', '3', 'female', '16', '0', '0', '35851', '7.7333', '', 'Q', '1']
['158', '"Corn', ' Mr. Harry"', '3', 'male', '30', '0', '0', 'SOTON/OQ 392090', '8.05', '', 'S', '0']
['159', '"Smiljanic', ' Mr. Mile"', '3', 'male', '', '0', '0', '315037', '8.6625', '', 'S', '0']
['160', '"Sage', ' Master. Thomas Henry"', '3', 'male', '', '8', '2', 'CA. 2343', '69.55', '', 'S', '0']
['161', '"Cribb', ' Mr. John Hatfield"', '3', 'male', '44', '0', '1', '371362', '16.1', '', 'S', '0']
['162', '"Watt', ' Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"', '2', 'female', '40', '0', '0', 'C.A. 33595', '15.75', '', 'S', '1']
['163', '"Bengtsson', ' Mr. John Viktor"', '3', 'male', '26', '0', '0', '347068', '7.775', '', 'S', '0']
['164', '"Calic', ' Mr. Jovo"', '3', 'male', '17', '0', '0', '315093', '8.6625', '', 'S', '0']
['165', '"Panula', ' Master. Eino Viljami"', '3', 'male', '1', '4', '1', '3101295', '39.6875', '', 'S', '0']
['166', '"Goldsmith', ' Master. Frank John William ""Frankie"""', '3', 'male', '9', '0', '2', '363291', '20.525', '', 'S', '1']
['167', '"Chibnall', ' Mrs. (Edith Martha Bowerman)"', '1', 'female', '', '0', '1', '113505', '55', 'E33', 'S', '1']
['168', '"Skoog', ' Mrs. William (Anna Bernhardina Karlsson)"', '3', 'female', '45', '1', '4', '347088', '27.9', '', 'S', '0']
['169', '"Baumann', ' Mr. John D"', '1', 'male', '', '0', '0', 'PC 17318', '25.925', '', 'S', '0']
['170', '"Ling', ' Mr. Lee"', '3', 'male', '28', '0', '0', '1601', '56.4958', '', 'S', '0']
['171', '"Van der hoef', ' Mr. Wyckoff"', '1', 'male', '61', '0', '0', '111240', '33.5', 'B19', 'S', '0']
['172', '"Rice', ' Master. Arthur"', '3', 'male', '4', '4', '1', '382652', '29.125', '', 'Q', '0']
['173', '"Johnson', ' Miss. Eleanor Ileen"', '3', 'female', '1', '1', '1', '347742', '11.1333', '', 'S', '1']
['174', '"Sivola', ' Mr. Antti Wilhelm"', '3', 'male', '21', '0', '0', 'STON/O 2. 3101280', '7.925', '', 'S', '0']
['175', '"Smith', ' Mr. James Clinch"', '1', 'male', '56', '0', '0', '17764', '30.6958', 'A7', 'C', '0']
['176', '"Klasen', ' Mr. Klas Albin"', '3', 'male', '18', '1', '1', '350404', '7.8542', '', 'S', '0']
['177', '"Lefebre', ' Master. Henry Forbes"', '3', 'male', '', '3', '1', '4133', '25.4667', '', 'S', '0']
['178', '"Isham', ' Miss. Ann Elizabeth"', '1', 'female', '50', '0', '0', 'PC 17595', '28.7125', 'C49', 'C', '0']
['179', '"Hale', ' Mr. Reginald"', '2', 'male', '30', '0', '0', '250653', '13', '', 'S', '0']
['180', '"Leonard', ' Mr. Lionel"', '3', 'male', '36', '0', '0', 'LINE', '0', '', 'S', '0']
['181', '"Sage', ' Miss. Constance Gladys"', '3', 'female', '', '8', '2', 'CA. 2343', '69.55', '', 'S', '0']
['182', '"Pernot', ' Mr. Rene"', '2', 'male', '', '0', '0', 'SC/PARIS 2131', '15.05', '', 'C', '0']
['183', '"Asplund', ' Master. Clarence Gustaf Hugo"', '3', 'male', '9', '4', '2', '347077', '31.3875', '', 'S', '0']
['184', '"Becker', ' Master. Richard F"', '2', 'male', '1', '2', '1', '230136', '39', 'F4', 'S', '1']
['185', '"Kink-Heilmann', ' Miss. Luise Gretchen"', '3', 'female', '4', '0', '2', '315153', '22.025', '', 'S', '1']

Inference: 

This code opens the CSV file containing the Titanic dataset and reads through it line by line. It uses the next function to read and print the first line, which contains the column names. The next function returns the next item in the iterator, which in this case is the first line of the file.

After printing the header row, the code loops through the rest of the rows of data in the file. For each row, it splits the row into a list of columns using the split function, and then prints the columns. The strip function is used to remove any leading or trailing whitespace from each column.

# First 10 rows of the dataset

In [2]:
# This line sets a variable n to 10, which represents the number of rows that the code will print.
n = 10  # The number of head rows to print

with open('titanic.csv', 'r') as f:
    dataset_content = f.readlines()

head_rows = dataset_content[:n]

for row in head_rows:
    columns = row.strip().split(',')
    print(columns)

['PassengerId', 'Name', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived']
['1', '"Braund', ' Mr. Owen Harris"', '3', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S', '0']
['2', '"Cumings', ' Mrs. John Bradley (Florence Briggs Thayer)"', '1', 'female', '38', '1', '0', 'PC 17599', '71.2833', 'C85', 'C', '1']
['3', '"Heikkinen', ' Miss. Laina"', '3', 'female', '26', '0', '0', 'STON/O2. 3101282', '7.925', '', 'S', '1']
['4', '"Futrelle', ' Mrs. Jacques Heath (Lily May Peel)"', '1', 'female', '35', '1', '0', '113803', '53.1', 'C123', 'S', '1']
['5', '"Allen', ' Mr. William Henry"', '3', 'male', '35', '0', '0', '373450', '8.05', '', 'S', '0']
['6', '"Moran', ' Mr. James"', '3', 'male', '', '0', '0', '330877', '8.4583', '', 'Q', '0']
['7', '"McCarthy', ' Mr. Timothy J"', '1', 'male', '54', '0', '0', '17463', '51.8625', 'E46', 'S', '0']
['8', '"Palsson', ' Master. Gosta Leonard"', '3', 'male', '2', '3', '1', '349909', '21.075', '', 'S', '0']
['9', '"Johnson', ' Mrs. Oscar W (Elisabeth Vilhelmina Berg)"', '3', 'female', '27', '0', '2', '347742', '11.1333', '', 'S', '1']

Inference: 

The with open('titanic.csv', 'r') as f: statement opens the file in read mode, and the f.readlines() method reads all the lines of the file into a list of strings called dataset_content.

The next line head_rows = dataset_content[:n] selects the first n rows of the dataset and stores them in a new list called head_rows.

The for loop then iterates over each row in head_rows, splits the row into a list of columns using the split() method, and prints the columns.

# Last 10 rows of the dataset

In [3]:
# This line sets a variable n to 10, which represents the number of rows that the code will print.
n = 10  # The number of tail rows to print

with open('titanic.csv', 'r') as f:
    dataset_content = f.readlines()

tail_rows = dataset_content[-n:]

for row in tail_rows:
    columns = row.strip().split(',')
    print(columns)

['882', '"Markun', ' Mr. Johann"', '3', 'male', '33', '0', '0', '349257', '7.8958', '', 'S', '0']
['883', '"Dahlberg', ' Miss. Gerda Ulrika"', '3', 'female', '22', '0', '0', '7552', '10.5167', '', 'S', '0']
['884', '"Banfield', ' Mr. Frederick James"', '2', 'male', '28', '0', '0', 'C.A./SOTON 34068', '10.5', '', 'S', '0']
['885', '"Sutehall', ' Mr. Henry Jr"', '3', 'male', '25', '0', '0', 'SOTON/OQ 392076', '7.05', '', 'S', '0']
['886', '"Rice', ' Mrs. William (Margaret Norton)"', '3', 'female', '39', '0', '5', '382652', '29.125', '', 'Q', '0']
['887', '"Montvila', ' Rev. Juozas"', '2', 'male', '27', '0', '0', '211536', '13', '', 'S', '0']
['888', '"Graham', ' Miss. Margaret Edith"', '1', 'female', '19', '0', '0', '112053', '30', 'B42', 'S', '1']
['889', '"Johnston', ' Miss. Catherine Helen ""Carrie"""', '3', 'female', '', '1', '2', 'W./C. 6607', '23.45', '', 'S', '0']
['890', '"Behr', ' Mr. Karl Howell"', '1', 'male', '26', '0', '0', '111369', '30', 'C148', 'C', '1']
['891', '"Dooley', ' Mr. Patrick"', '3', 'male', '32', '0', '0', '370376', '7.75', '', 'Q', '0']

# Displaying columns

In [4]:
# open the file
with open('titanic.csv', 'r') as f:
    # read the first line to get the column names
    header = f.readline().strip().split(',')
    # print the column names
    print(header)

['PassengerId', 'Name', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived']

Inference:

This code opens the Titanic dataset file in read mode using the open() function and the with statement, and reads the first line of the file to get the column names using the readline() method. The strip() method is used to remove any leading or trailing whitespace, and the split() method is used to split the line into a list of column names using the comma as the separator.

The resulting list of column names is stored in the header variable. Finally, the code prints the column names using the print() function

# Displaying shape of dataset

In [5]:
# open the file
with open('titanic.csv', 'r') as f:
    # initialize variables for the row and column counts
    num_rows = 0
    num_cols = 0
    # loop through the lines in the file
    for line in f:
        # split the line into fields
        fields = line.strip().split(',')
        # increment the count of rows
        num_rows += 1
        # if this is the first line, count the columns
        if num_rows == 1:
            num_cols = len(fields)

# print the results
print('Shape of Titanic dataset: ({}, {})'.format(num_rows, num_cols))

Shape of Titanic dataset: (892, 12)

Inference:

This code opens the Titanic dataset file in read mode using the open() function and the with statement, and initializes variables num_rows and num_cols to 0. The code then loops through each line in the file and increments the num_rows variable for each line.

For the first line, the code splits the line into fields using the comma as the separator and counts the number of fields, which represents the number of columns in the dataset. This value is stored in the num_cols variable.

Finally, the code prints the shape of the Titanic dataset using the print() function and the format() method to insert the values of num_rows and num_cols into the string.

# Displaying number of surviors and non-survivors

In [33]:
# Open the CSV file containing the Titanic dataset
with open('train.csv') as f:
    # Skip the header row
    next(f)
    # Count the number of survivors and non-survivors
    num_survivors = 0
    num_non_survivors = 0
    for row in f:
        # Split the row into columns
        columns = row.strip().split(',')
        # Check if the passenger survived
        if columns[1] == '1':
            num_survivors += 1
        else:
            num_non_survivors += 1
    # Print the results
    print(f"Number of survivors: {num_survivors}")
    print(f"Number of non-survivors: {num_non_survivors}")

Number of survivors: 342
Number of non-survivors: 549

Inference:

The above code opens the Titanic dataset CSV file, skips the header row, and counts the number of survivors and non-survivors in the dataset by iterating through the rows of the file. It uses a counter for the number of survivors and non-survivors, and increments the appropriate counter based on the value of the second column (which represents whether the passenger survived or not).

# Displaying descriptive statistics of Age and Fare columns

In [7]:
# open the file
with open('titanic.csv', 'r') as f:
    # read the first line to get the column names
    header = f.readline().strip().split(',')
    # initialize variables to store statistics for the age and fare columns
    age_min = float('inf')
    age_max = float('-inf')
    age_sum = 0
    age_count = 0
    fare_min = float('inf')
    fare_max = float('-inf')
    fare_sum = 0
    fare_count = 0
    # loop through the rest of the lines in the file
    for line in f:
        # split the line into fields
        fields = line.strip().split(',')
        # check if the age field is valid and update statistics
        if fields[5].strip() != '':
            age = float(fields[5])
            age_min = min(age_min, age)
            age_max = max(age_max, age)
            age_sum += age
            age_count += 1
        # check if the fare field is valid and update statistics
        if fields[9].strip() != '':
            fare = float(fields[9])
            fare_min = min(fare_min, fare)
            fare_max = max(fare_max, fare)
            fare_sum += fare
            fare_count += 1

# print the statistics for the age and fare columns
print("Age - Minimum: {}, Maximum: {}, Average: {}".format(age_min, age_max, age_sum/age_count))
print("Fare - Minimum: {}, Maximum: {}, Average: {}".format(fare_min, fare_max, fare_sum/fare_count))

Age - Minimum: 0.42, Maximum: 80.0, Average: 29.69911764705882
Fare - Minimum: 0.0, Maximum: 512.3292, Average: 32.2042079685746

Inference: 
    
computes statistics for the "age" and "fare" columns. The code uses a with statement to open the file and read its contents, and initializes variables to store the minimum, maximum, sum, and count of values in each column. The code then loops through the rest of the lines in the file, checks if the age and fare fields are valid, and updates the statistics accordingly. Finally, the code prints the computed statistics for the age and fare columns.

# Checking for missing values along with row information

In [23]:
import csv

# Open the Titanic dataset CSV file
with open('titanic.csv', 'r') as file:

    # Create a CSV reader object
    reader = csv.reader(file)

    # Extract the header row
    header = next(reader)

    # Loop through the data rows and check for missing values
    for row in reader:
        for i in range(len(header)):
            if row[i] == '':
                print(f"Missing value found in column '{header[i]}' at row {reader.line_num}")

Missing value found in column 'Cabin' at row 2
Missing value found in column 'Cabin' at row 4
Missing value found in column 'Cabin' at row 6
Missing value found in column 'Age' at row 7
Missing value found in column 'Cabin' at row 7
Missing value found in column 'Cabin' at row 9
Missing value found in column 'Cabin' at row 10
Missing value found in column 'Cabin' at row 11
Missing value found in column 'Cabin' at row 14
Missing value found in column 'Cabin' at row 15
Missing value found in column 'Cabin' at row 16
Missing value found in column 'Cabin' at row 17
Missing value found in column 'Cabin' at row 18
Missing value found in column 'Age' at row 19
Missing value found in column 'Cabin' at row 19
Missing value found in column 'Cabin' at row 20
Missing value found in column 'Age' at row 21
Missing value found in column 'Cabin' at row 21
Missing value found in column 'Cabin' at row 22
Missing value found in column 'Cabin' at row 24
Missing value found in column 'Cabin' at row 26
Missing value found in column 'Cabin' at row 27
Missing value found in column 'Age' at row 28
Missing value found in column 'Cabin' at row 28
Missing value found in column 'Age' at row 30
Missing value found in column 'Cabin' at row 30
Missing value found in column 'Age' at row 31
Missing value found in column 'Cabin' at row 31
Missing value found in column 'Cabin' at row 32
Missing value found in column 'Age' at row 33
Missing value found in column 'Age' at row 34
Missing value found in column 'Cabin' at row 34
Missing value found in column 'Cabin' at row 35
Missing value found in column 'Cabin' at row 36
Missing value found in column 'Cabin' at row 37
Missing value found in column 'Age' at row 38
Missing value found in column 'Cabin' at row 38
Missing value found in column 'Cabin' at row 39
Missing value found in column 'Cabin' at row 40
Missing value found in column 'Cabin' at row 41
Missing value found in column 'Cabin' at row 42
Missing value found in column 'Cabin' at row 43
Missing value found in column 'Age' at row 44
Missing value found in column 'Cabin' at row 44
Missing value found in column 'Cabin' at row 45
Missing value found in column 'Cabin' at row 46
Missing value found in column 'Age' at row 47
Missing value found in column 'Cabin' at row 47
Missing value found in column 'Age' at row 48
Missing value found in column 'Cabin' at row 48
Missing value found in column 'Age' at row 49
Missing value found in column 'Cabin' at row 49
Missing value found in column 'Age' at row 50
Missing value found in column 'Cabin' at row 50
Missing value found in column 'Cabin' at row 51
Missing value found in column 'Cabin' at row 52
Missing value found in column 'Cabin' at row 53
Missing value found in column 'Cabin' at row 55
Missing value found in column 'Age' at row 57
Missing value found in column 'Cabin' at row 58
Missing value found in column 'Cabin' at row 59
Missing value found in column 'Cabin' at row 60
Missing value found in column 'Cabin' at row 61
Missing value found in column 'Cabin' at row 62
Missing value found in column 'Embarked' at row 63
Missing value found in column 'Cabin' at row 65
Missing value found in column 'Age' at row 66
Missing value found in column 'Cabin' at row 66
Missing value found in column 'Age' at row 67
Missing value found in column 'Cabin' at row 67
Missing value found in column 'Cabin' at row 69
Missing value found in column 'Cabin' at row 70
Missing value found in column 'Cabin' at row 71
Missing value found in column 'Cabin' at row 72
Missing value found in column 'Cabin' at row 73
Missing value found in column 'Cabin' at row 74
Missing value found in column 'Cabin' at row 75
Missing value found in column 'Cabin' at row 76
Missing value found in column 'Age' at row 78
Missing value found in column 'Cabin' at row 78
Missing value found in column 'Age' at row 79
Missing value found in column 'Cabin' at row 79
Missing value found in column 'Cabin' at row 80
Missing value found in column 'Cabin' at row 81
Missing value found in column 'Cabin' at row 82
Missing value found in column 'Cabin' at row 83
Missing value found in column 'Age' at row 84
Missing value found in column 'Cabin' at row 84
Missing value found in column 'Cabin' at row 85
Missing value found in column 'Cabin' at row 86
Missing value found in column 'Cabin' at row 87
Missing value found in column 'Cabin' at row 88
Missing value found in column 'Age' at row 89
Missing value found in column 'Cabin' at row 89
Missing value found in column 'Cabin' at row 91
Missing value found in column 'Cabin' at row 92
Missing value found in column 'Cabin' at row 93
Missing value found in column 'Cabin' at row 95
Missing value found in column 'Cabin' at row 96
Missing value found in column 'Age' at row 97
Missing value found in column 'Cabin' at row 97
Missing value found in column 'Cabin' at row 100
Missing value found in column 'Cabin' at row 101
Missing value found in column 'Cabin' at row 102
Missing value found in column 'Age' at row 103
Missing value found in column 'Cabin' at row 103
Missing value found in column 'Cabin' at row 105
Missing value found in column 'Cabin' at row 106
Missing value found in column 'Cabin' at row 107
Missing value found in column 'Cabin' at row 108
Missing value found in column 'Age' at row 109
Missing value found in column 'Cabin' at row 109
Missing value found in column 'Cabin' at row 110
Missing value found in column 'Age' at row 111
Missing value found in column 'Cabin' at row 111
Missing value found in column 'Cabin' at row 113
Missing value found in column 'Cabin' at row 114
Missing value found in column 'Cabin' at row 115
Missing value found in column 'Cabin' at row 116
Missing value found in column 'Cabin' at row 117
Missing value found in column 'Cabin' at row 118
Missing value found in column 'Cabin' at row 119
Missing value found in column 'Cabin' at row 121
Missing value found in column 'Cabin' at row 122
Missing value found in column 'Age' at row 123
Missing value found in column 'Cabin' at row 123
Missing value found in column 'Cabin' at row 124
Missing value found in column 'Cabin' at row 127
Missing value found in column 'Age' at row 128
Missing value found in column 'Cabin' at row 128
Missing value found in column 'Cabin' at row 129
Missing value found in column 'Age' at row 130
Missing value found in column 'Cabin' at row 131
Missing value found in column 'Cabin' at row 132
Missing value found in column 'Cabin' at row 133
Missing value found in column 'Cabin' at row 134
Missing value found in column 'Cabin' at row 135
Missing value found in column 'Cabin' at row 136
Missing value found in column 'Cabin' at row 137
Missing value found in column 'Cabin' at row 140
Missing value found in column 'Age' at row 142
Missing value found in column 'Cabin' at row 142
Missing value found in column 'Cabin' at row 143
Missing value found in column 'Cabin' at row 144
Missing value found in column 'Cabin' at row 145
Missing value found in column 'Cabin' at row 146
Missing value found in column 'Cabin' at row 147
Missing value found in column 'Cabin' at row 148
Missing value found in column 'Cabin' at row 149
Missing value found in column 'Cabin' at row 151
Missing value found in column 'Cabin' at row 152
Missing value found in column 'Cabin' at row 154
Missing value found in column 'Cabin' at row 155
Missing value found in column 'Age' at row 156
Missing value found in column 'Cabin' at row 156
Missing value found in column 'Cabin' at row 157
Missing value found in column 'Cabin' at row 158
Missing value found in column 'Cabin' at row 159
Missing value found in column 'Age' at row 160
Missing value found in column 'Cabin' at row 160
Missing value found in column 'Age' at row 161
Missing value found in column 'Cabin' at row 161
Missing value found in column 'Cabin' at row 162
Missing value found in column 'Cabin' at row 163
Missing value found in column 'Cabin' at row 164
Missing value found in column 'Cabin' at row 165
Missing value found in column 'Cabin' at row 166
Missing value found in column 'Cabin' at row 167
Missing value found in column 'Age' at row 168
Missing value found in column 'Cabin' at row 169
Missing value found in column 'Age' at row 170
Missing value found in column 'Cabin' at row 170
Missing value found in column 'Cabin' at row 171
Missing value found in column 'Cabin' at row 173
Missing value found in column 'Cabin' at row 174
Missing value found in column 'Cabin' at row 175
Missing value found in column 'Cabin' at row 177
Missing value found in column 'Age' at row 178
Missing value found in column 'Cabin' at row 178
Missing value found in column 'Cabin' at row 180
Missing value found in column 'Cabin' at row 181
Missing value found in column 'Age' at row 182
Missing value found in column 'Cabin' at row 182
Missing value found in column 'Age' at row 183
Missing value found in column 'Cabin' at row 183
Missing value found in column 'Cabin' at row 184
Missing value found in column 'Cabin' at row 186
Missing value found in column 'Age' at row 187
Missing value found in column 'Age' at row 188
Missing value found in column 'Cabin' at row 188
Missing value found in column 'Cabin' at row 189
Missing value found in column 'Cabin' at row 190
Missing value found in column 'Cabin' at row 191
Missing value found in column 'Cabin' at row 192
Missing value found in column 'Cabin' at row 193
Missing value found in column 'Cabin' at row 194
Missing value found in column 'Age' at row 198
Missing value found in column 'Cabin' at row 198
Missing value found in column 'Cabin' at row 199
Missing value found in column 'Age' at row 200
Missing value found in column 'Cabin' at row 200
Missing value found in column 'Cabin' at row 201
Missing value found in column 'Cabin' at row 202
Missing value found in column 'Age' at row 203
Missing value found in column 'Cabin' at row 203
Missing value found in column 'Cabin' at row 204
Missing value found in column 'Cabin' at row 205
Missing value found in column 'Cabin' at row 206
Missing value found in column 'Cabin' at row 208
Missing value found in column 'Cabin' at row 209
Missing value found in column 'Cabin' at row 210
Missing value found in column 'Cabin' at row 212
Missing value found in column 'Cabin' at row 213
Missing value found in column 'Cabin' at row 214
Missing value found in column 'Cabin' at row 215
Missing value found in column 'Age' at row 216
Missing value found in column 'Cabin' at row 216
Missing value found in column 'Cabin' at row 218
Missing value found in column 'Cabin' at row 219
Missing value found in column 'Cabin' at row 221
Missing value found in column 'Cabin' at row 222
Missing value found in column 'Cabin' at row 223
Missing value found in column 'Cabin' at row 224
Missing value found in column 'Age' at row 225
Missing value found in column 'Cabin' at row 225
Missing value found in column 'Cabin' at row 227
Missing value found in column 'Cabin' at row 228
Missing value found in column 'Cabin' at row 229
Missing value found in column 'Cabin' at row 230
Missing value found in column 'Age' at row 231
Missing value found in column 'Cabin' at row 231
Missing value found in column 'Cabin' at row 233
Missing value found in column 'Cabin' at row 234
Missing value found in column 'Cabin' at row 235
Missing value found in column 'Cabin' at row 236
Missing value found in column 'Age' at row 237
Missing value found in column 'Cabin' at row 237
Missing value found in column 'Cabin' at row 238
Missing value found in column 'Cabin' at row 239
Missing value found in column 'Cabin' at row 240
Missing value found in column 'Cabin' at row 241
Missing value found in column 'Age' at row 242
Missing value found in column 'Cabin' at row 242
Missing value found in column 'Age' at row 243
Missing value found in column 'Cabin' at row 243
Missing value found in column 'Cabin' at row 244
Missing value found in column 'Cabin' at row 245
Missing value found in column 'Cabin' at row 246
Missing value found in column 'Cabin' at row 248
Missing value found in column 'Cabin' at row 249
Missing value found in column 'Cabin' at row 251
Missing value found in column 'Age' at row 252
Missing value found in column 'Cabin' at row 252
Missing value found in column 'Cabin' at row 255
Missing value found in column 'Cabin' at row 256
Missing value found in column 'Cabin' at row 257
Missing value found in column 'Age' at row 258
Missing value found in column 'Cabin' at row 258
Missing value found in column 'Cabin' at row 260
Missing value found in column 'Cabin' at row 261
Missing value found in column 'Age' at row 262
Missing value found in column 'Cabin' at row 262
Missing value found in column 'Cabin' at row 263
Missing value found in column 'Age' at row 266
Missing value found in column 'Cabin' at row 266
Missing value found in column 'Cabin' at row 267
Missing value found in column 'Cabin' at row 268
Missing value found in column 'Cabin' at row 269
Missing value found in column 'Age' at row 272
Missing value found in column 'Cabin' at row 272
Missing value found in column 'Cabin' at row 273
Missing value found in column 'Cabin' at row 274
Missing value found in column 'Age' at row 276
Missing value found in column 'Cabin' at row 276
Missing value found in column 'Cabin' at row 278
Missing value found in column 'Age' at row 279
Missing value found in column 'Cabin' at row 279
Missing value found in column 'Cabin' at row 280
Missing value found in column 'Cabin' at row 281
Missing value found in column 'Cabin' at row 282
Missing value found in column 'Cabin' at row 283
Missing value found in column 'Cabin' at row 284
Missing value found in column 'Cabin' at row 285
Missing value found in column 'Age' at row 286
Missing value found in column 'Cabin' at row 287
Missing value found in column 'Cabin' at row 288
Missing value found in column 'Cabin' at row 289
Missing value found in column 'Cabin' at row 290
Missing value found in column 'Cabin' at row 291
Missing value found in column 'Cabin' at row 292
Missing value found in column 'Cabin' at row 295
Missing value found in column 'Cabin' at row 296
Missing value found in column 'Age' at row 297
Missing value found in column 'Cabin' at row 297
Missing value found in column 'Cabin' at row 298
Missing value found in column 'Age' at row 300
Missing value found in column 'Age' at row 302
Missing value found in column 'Cabin' at row 302
Missing value found in column 'Age' at row 303
Missing value found in column 'Cabin' at row 303
Missing value found in column 'Cabin' at row 304
Missing value found in column 'Age' at row 305
Missing value found in column 'Age' at row 306
Missing value found in column 'Cabin' at row 306
Missing value found in column 'Age' at row 308
Missing value found in column 'Cabin' at row 308
Missing value found in column 'Cabin' at row 310
Missing value found in column 'Cabin' at row 314
Missing value found in column 'Cabin' at row 315
Missing value found in column 'Cabin' at row 316
Missing value found in column 'Cabin' at row 317
Missing value found in column 'Cabin' at row 318
Missing value found in column 'Cabin' at row 319
Missing value found in column 'Cabin' at row 322
Missing value found in column 'Cabin' at row 323
Missing value found in column 'Cabin' at row 324
Missing value found in column 'Cabin' at row 325
Missing value found in column 'Age' at row 326
Missing value found in column 'Cabin' at row 326
Missing value found in column 'Cabin' at row 328
Missing value found in column 'Cabin' at row 330
Missing value found in column 'Age' at row 332
Missing value found in column 'Cabin' at row 332
Missing value found in column 'Cabin' at row 335
Missing value found in column 'Age' at row 336
Missing value found in column 'Cabin' at row 336
Missing value found in column 'Age' at row 337
Missing value found in column 'Cabin' at row 337
Missing value found in column 'Cabin' at row 340
Missing value found in column 'Cabin' at row 344
Missing value found in column 'Cabin' at row 345
Missing value found in column 'Cabin' at row 346
Missing value found in column 'Cabin' at row 348
Missing value found in column 'Age' at row 349
Missing value found in column 'Cabin' at row 349
Missing value found in column 'Cabin' at row 350
Missing value found in column 'Cabin' at row 351
Missing value found in column 'Cabin' at row 352
Missing value found in column 'Age' at row 353
Missing value found in column 'Cabin' at row 354
Missing value found in column 'Cabin' at row 355
Missing value found in column 'Age' at row 356
Missing value found in column 'Cabin' at row 356
Missing value found in column 'Cabin' at row 357
Missing value found in column 'Cabin' at row 359
Missing value found in column 'Age' at row 360
Missing value found in column 'Cabin' at row 360
Missing value found in column 'Age' at row 361
Missing value found in column 'Cabin' at row 361
Missing value found in column 'Cabin' at row 362
Missing value found in column 'Cabin' at row 363
Missing value found in column 'Cabin' at row 364
Missing value found in column 'Cabin' at row 365
Missing value found in column 'Age' at row 366
Missing value found in column 'Cabin' at row 366
Missing value found in column 'Cabin' at row 367
Missing value found in column 'Age' at row 369
Missing value found in column 'Cabin' at row 369
Missing value found in column 'Age' at row 370
Missing value found in column 'Cabin' at row 370
Missing value found in column 'Cabin' at row 373
Missing value found in column 'Cabin' at row 374
Missing value found in column 'Cabin' at row 375
Missing value found in column 'Cabin' at row 376
Missing value found in column 'Age' at row 377
Missing value found in column 'Cabin' at row 377
Missing value found in column 'Cabin' at row 378
Missing value found in column 'Cabin' at row 380
Missing value found in column 'Cabin' at row 381
Missing value found in column 'Cabin' at row 382
Missing value found in column 'Cabin' at row 383
Missing value found in column 'Cabin' at row 384
Missing value found in column 'Cabin' at row 385
Missing value found in column 'Age' at row 386
Missing value found in column 'Cabin' at row 386
Missing value found in column 'Cabin' at row 387
Missing value found in column 'Cabin' at row 388
Missing value found in column 'Cabin' at row 389
Missing value found in column 'Age' at row 390
Missing value found in column 'Cabin' at row 390
Missing value found in column 'Cabin' at row 391
Missing value found in column 'Cabin' at row 393
Missing value found in column 'Cabin' at row 394
Missing value found in column 'Cabin' at row 397
Missing value found in column 'Cabin' at row 398
Missing value found in column 'Cabin' at row 399
Missing value found in column 'Cabin' at row 400
Missing value found in column 'Cabin' at row 401
Missing value found in column 'Cabin' at row 402
Missing value found in column 'Cabin' at row 403
Missing value found in column 'Cabin' at row 404
Missing value found in column 'Cabin' at row 405
Missing value found in column 'Cabin' at row 406
Missing value found in column 'Cabin' at row 407
Missing value found in column 'Cabin' at row 408
Missing value found in column 'Cabin' at row 409
Missing value found in column 'Cabin' at row 410
Missing value found in column 'Age' at row 411
Missing value found in column 'Cabin' at row 411
Missing value found in column 'Age' at row 412
Missing value found in column 'Cabin' at row 412
Missing value found in column 'Age' at row 413
Missing value found in column 'Cabin' at row 413
Missing value found in column 'Age' at row 415
Missing value found in column 'Cabin' at row 415
Missing value found in column 'Cabin' at row 416
Missing value found in column 'Age' at row 417
Missing value found in column 'Cabin' at row 417
Missing value found in column 'Cabin' at row 418
Missing value found in column 'Cabin' at row 419
Missing value found in column 'Cabin' at row 420
Missing value found in column 'Cabin' at row 421
Missing value found in column 'Age' at row 422

# Checking for missing values

In [25]:
import csv

# Open the Titanic dataset CSV file
with open('titanic.csv', 'r') as file:

    # Create a CSV reader object
    reader = csv.reader(file)

    # Extract the header row
    header = next(reader)

    # Initialize a dictionary to store the number of missing values per column
    missing_values = {column: 0 for column in header}

    # Loop through the data rows and count missing values in each column
    for row in reader:
        for i, value in enumerate(row):
            if value == '':
                missing_values[header[i]] += 1

    # Print the columns with missing values and their respective counts
    print("Columns with missing values:")
    for column, count in missing_values.items():
        if count > 0:
            print(f"{column}: {count}")

Columns with missing values:
Age: 177
Cabin: 687
Embarked: 2